{% extends 'base.html' %}
{% block content %}

<h1>More About Lemurs!</h1>
<hr />
<div>
    <h3>So Many Lemurs!</h3>
    <p>There are over fifty species of lemurs and even more subspecies. Some are tiny (the pygmy mouse lemur weighs only an ounce) and some are much bigger (the indri can weigh up to 22 pounds!)</p>
    <p>Lemurs only live on the island of Madagascar off the southeast coast of Africa. They likely traveled there by rafts of vegetation after the island broke away from the continent.</p>
    <p>Almost all species of lemurs are endangered and many have already gone extinct. This is a problem for all of Madagascar as lemurs have evolved with all of the flora and fauna of the island.</p>
    <p class="footnote">Thanks to <a href="https://www.mentalfloss.com/article/22518/8-things-you-need-know-about-lemurs">mentalfloss.com</a> for fascinating info about lemurs!</p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/dmt2NmjbYLA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><p>Visit Lemurs!</p>

{% endblock %}