body {
    min-height: 100vh;
    background-color: #bdbdbd;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

main {
  flex: 1 0 auto;
}

.card {
  background-color: #bdbdbd;
  border: none !important;
  border-radius: 10px !important;
}

.card-content {
  border-radius: 5px !important;
}

.edit-btn {
  background-color: #ff9900;
  color: white;
  margin: 5px;
}

.del-btn {
  background-color: crimson;
  color: white;
  margin: 5px;
}

.edit-btn:hover {
  background-color: #fad399;
  border: 1px solid black;
  box-shadow: 1px 2px #727070;
}

.del-btn:hover {
  background-color: #8f394a;
  color: white;
  border: 1px solid black;
  box-shadow: 1px 2px #727070;
}

iframe {
  margin: 10px auto !important;
  border: 5px double;
}

.home-pics {
  border: 5px solid white;
  margin: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto 50px auto;
}