{% extends 'base.html' %}
{% block content %}

<h1>Lemur List</h1>

{% for lemur in lemurs %}
  <div class="card">
  <a href="{% url 'detail' lemur.id %}">
    <div class="card-content grey lighten-3 green-text text-darken-3">
      <span class="card-title">{{ lemur.name }}</span>
      <p>Species: {{ lemur.species }}</p>
      <p>Description: {{ lemur.description }}</p>
      {% if lemur.age > 0 %}
        <p>Age: {{ lemur.age }}</p>
      {% else %}
        <p>Age: Pup</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}